{%  load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'parciais/head.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="min-h-screen">
{% block content %}
{% endblock %}

{% include 'parciais/loading_overlay.html' %}

<script>
    $(document).ready(function () {
        $(".toggle-password").click(function () {
            let input = $(this).siblings("input");

            if (input.attr("type") === "password") {
                input.attr("type", "text");
                $(this).text("visibility_off");
            } else {
                input.attr("type", "password");
                $(this).text("visibility");
            }
        });
    });
</script>
</body>
</html>