{% extends 'base.html' %}
{%  load static %}

{% block title %}
Sem B.O
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'front/home_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}

{% block content %}
<section class="content-page">
    {% include 'parciais/menu.html' %}
    <div class="central-container px-4 md:mt-0 mt-8 md:mx-[5rem]">
        <div class="mb-4">
            <div class="welcome text-black-700 font-semibold text-2xl md:text-3xl text-center md:text-left">
                Olá, <b class="text-black-700">Sr(a) {{ user.first_name.title }}</b>
            </div>
            <div class="note text-gray-600 text-sm md:text-base text-center md:text-left mt-1">
                {% for occupation in user.occupations.all %}
                    <b class="font-semibold">{{ occupation.name }}</b>
                {% endfor %}
            </div>
        </div>

        <form id="search-form" class="form-search w-full" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="search flex flex-row items-center gap-2 bg-transparent w-full">
                <div class="w-full">
                    <input type="text" name="q" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Digite o procedimento">
                </div>
                <button type="submit" aria-label="search" class="flex items-center justify-center rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2.5 sm:py-2 bg-[#F2F2F7] hover:bg-gray-200 transition">
                    <ion-icon name="search-outline" class="w-5 h-5 md hydrated" role="img"></ion-icon>
                </button>
            </div>
        </form>

        <div class="results none mt-4">
            <div class="search_results"></div>
        </div>

        <div class="banner flex justify-center items-start md:items-center mt-4 md:mt-6">
            <img src="{% static 'assets/abstract.jpg' %}" class="object-cover w-full md:max-h-[250px] md:max-h-none rounded-lg">
        </div>
    </div>

    {% include 'parciais/menu_inferior.html' %}
</section>

<div class="content-principal folder-modal">
    <div id="favorite-modal" class="modal hidden fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
        <div class="modal-content-folder bg-gray-100 w-11/12 md:w-2/3 lg:w-1/3 mx-auto mt-10 rounded-lg p-6 max-h-[80vh] overflow-auto">
            <div class="sup-folder flex justify-between items-center mb-4">
                <div></div>
                <h2 class="text-xl text-center title-modal-folders">Adicione a uma <b>Pasta de Favoritos</b></h2>
                <span class="close text-gray-600 cursor-pointer">&times;</span>
            </div>
            <ul class="mb-4">
                {% for folder in favorite_folders %}
                    <li class="folder mb-2 shadow">
                        <label for="folder-{{ folder.id }}" class="label-folder cursor-pointer list-folders flex justify-between items-center">
                            <span class="truncate max-w-[70%]">{{ folder.name }}</span>
                            <input type="checkbox" id="folder-{{ folder.id }}" name="folders" value="{{ folder.id }}" class="checkbox-custom mr-2" {% if folder.name == 'Geral' %}checked{% endif %}>
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button id="confirm-favorite" class="bg-[#0F0F0F] text-white w-full py-2 px-4 rounded-md">Confirmar</button>
        </div>
    </div>
    <div class="blur hidden"></div>
</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        const searchForm = $('#search-form');
        const searchResults = $('.search_results');
        const banner = $('.banner');
        const searchIcon = $('#search');
        const closeIcon = $('#close-filter');

        let page = 2;
        let loading = false;
        let searchActive = false;

        function toggleCloseVisibility() {
            if (searchActive) {
                searchIcon.hide();
                closeIcon.show();
            } else {
                searchIcon.show();
                closeIcon.hide();
            }
        }

        function createProcedureHTML(procedure) {
            const baseUrl = "{% url 'procedure_detail' procedure_code='__PROCEDURE_CODE__' %}";
            const helpUrl = baseUrl.replace("__PROCEDURE_CODE__", procedure.code);

            const procedureDiv = $('<div class="procedure p-4 my-2 border rounded-lg"></div>');
            const nameLink = $('<div class="title_tags"><a class="title_procedure" href="' + helpUrl + '">' + procedure.name + '</a></div>');
            const records = $('<div class="records_tags hidden md:flex"></div>')
            const codeProcedure = $('<div class="procedure_code w-[70%] md:w-[8rem]"></div>')
            const rightInfo = $('<div class="right_info"></div>')

            procedure.occupations_names.forEach(function (occupation_name) {
                nameLink.append(records);
            });
        
            procedure.records_names.forEach(function (recordName) {
                const recordLink = $('<a>' + recordName + '</a>');
                records.append(recordLink)
                nameLink.append(records);
            });

            codeProcedure.append(procedure.code)
            const icon = $('<ion-icon name="' + (procedure.favorite ? 'bookmark' : 'bookmark-outline') + '" class="w-[10%] md:w-10 h-5 favorite-icon" data-procedure-id="' + procedure.code + '"></ion-icon>');
            const help = $('<a class="help-icon w-[20%] md:w-10 md:mr-4" href="' + helpUrl + '"><div class="help "><ion-icon name="help-circle-outline" role="img" class="md hydrated"></ion-icon></div></a>');

            rightInfo.append(icon, codeProcedure, help)
            procedureDiv.append(nameLink, rightInfo);
            searchResults.append(procedureDiv);

            if($('#load-more')){
                const loadMoreButton = $('#load-more');
                procedureDiv.insertBefore(loadMoreButton);
            }

            captureFavoriteButtons()
            return procedureDiv;
        }

        function handleLoadMore(query) {
            if (!loading) {
                loading = true;
                $('#load-more').hide();
                $('.loading').show();

                $.ajax({
                    type: "GET",
                    url: searchForm.attr('action'),
                    data: { 'q': query, 'page': page },
                    dataType: "json",
                    success: function (data) {
                        if (data.procedures && data.procedures.length > 0) {
                            data.procedures.map(createProcedureHTML);

                            if (!data.procedures[0].has_more_results) {
                                $('#load-more').remove();
                                $('.loading').remove();
                            }

                            page++;
                        }

                        loading = false;
                        $('.loading').hide();
                        $('#load-more').show();
                    }
                });
            }
        }

        function loadProcedures(query) {
            $.ajax({
                type: "GET",
                url: searchForm.attr('action'),
                data: { 'q': query },
                success: function (data) {
                    if (data.procedures && data.procedures.length > 0) {
                        data.procedures.map(createProcedureHTML);

                        if (data.procedures[0].has_more_results) {
                            searchResults.append('<button id="load-more" class="flex items-center rounded-md border border-gray-300 shadow-sm focus:border-black focus:ring-black sm:text-sm px-3 py-2.5 sm:py-2 bg-[#F2F2F7]" style="display: block;">Carregar Mais</button>');
                            searchResults.append('<div class="loading flex items-center rounded-md border border-gray-300 shadow-sm focus:border-black focus:ring-black sm:text-sm px-3 py-2.5 sm:py-2 bg-[#F2F2F7]" style="display: none;">Carregando...</div>');
                        }
                    } else {
                        const noProceduresMessage = $('<p class="no-procedures">Procedimento não encontrado ou não disponível para sua ocupação</p>');
                        searchResults.append(noProceduresMessage);
                    }

                    toggleCloseVisibility();
                    banner.addClass('none')
                    searchResults.parent().removeClass('none').addClass('block');
                    
                    $('#load-more').on('click', function () {
                        handleLoadMore(query);
                    });
                }
            });
        }

        searchForm.on('submit', function (e) {
            e.preventDefault();

            searchActive = true;
            toggleCloseVisibility();

            searchResults.empty();
            const query = searchForm.find('input[name="q"]').val().trim();

            if (query) {
                loadProcedures(query)
            }
        });

        closeIcon.on('click', function () {
            searchActive = false;
            toggleCloseVisibility();

            searchResults.empty();
            closeIcon.hide();
            searchIcon.show();
            banner.removeClass('none');

            searchForm.find('input[name="q"]').val('');
            searchResults.parent().removeClass('block').addClass('none');
        });
        
        searchIcon.on('click', function () {
            searchForm.submit();
        });

        function showFeedbackMessage(message, success = true) {
            const feedback = $('<div class="feedback-message"></div>').css({
                position: 'fixed',
                top: '20px',
                right: '20px',
                backgroundColor: success ? '#4CAF50' : '#F44336',
                color: 'white',
                padding: '10px',
                borderRadius: '5px',
                zIndex: '1000',
                boxShadow: '0px 0px 10px rgba(0, 0, 0, 0.3)'
            }).text(message).appendTo('body').delay(2000).fadeOut(500, function () {
                $(this).remove();
            });
        }

        function captureFavoriteButtons() {
            const modal = $('#favorite-modal');
            const blurOverlay = $(".blur");
            const confirmFavoriteButton = $('#confirm-favorite');
            let procedureCode;

            blurOverlay.on('click', function () {
                modal.addClass('hidden');
                blurOverlay.hide();
            });

            $(document).off('click', '.favorite-icon');

            $(document).on('click', '.favorite-icon', function () {
                procedureCode = $(this).data('procedureId');
                modal.removeClass('hidden');
                blurOverlay.show();

                $.ajax({
                    url: '/check_favorite/',
                    type: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: { 'procedure_id': procedureCode },
                    success: function (data) {
                        $('input[name="folders"]').prop('checked', false);

                        if (data.is_favorite) {
                            data.favorite_folders.forEach(function (folderId) {
                                $('input[name="folders"][value="' + folderId + '"]').prop('checked', true);
                            });
                        } else {
                            $('input[name="folders"][value="1"]').prop('checked', true);
                        }
                    },
                    error: function (error) {
                        console.error('Erro ao verificar favorito:', error);
                    }
                });
            });

            $('.modal .close, #confirm-favorite').on('click', function () {
                modal.addClass('hidden');
                blurOverlay.hide();
            });

            confirmFavoriteButton.off('click');

            confirmFavoriteButton.on('click', function () {
                confirmFavoriteButton.prop('disabled', true);

                const selectedFolderIds = $('input[name="folders"]:checked').map(function () {
                    return $(this).val();
                }).get();

                $.ajax({
                    url: '/add-remove-favorite/',
                    type: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: {
                        'folders': selectedFolderIds,
                        'procedure_id': procedureCode
                    },
                    success: function (data) {
                        const icon = $('.favorite-icon[data-procedure-id="' + procedureCode + '"]');
                        icon.attr('name', data.is_favorite ? 'bookmark' : 'bookmark-outline');
                        confirmFavoriteButton.prop('disabled', false);

                        $('#favorite-modal').addClass('hidden');
                        $(".blur").hide();

                        showFeedbackMessage(data.is_favorite ? 'Procedimento favoritado!' : 'Procedimento desfavoritado!');
                    },
                    error: function (error) {
                        console.error('Erro ao enviar dados:', error);
                        confirmFavoriteButton.prop('disabled', false);

                        showFeedbackMessage('Erro ao favoritar procedimento.', false);
                    }
                });
            });
        }

        function copyText(code) {
            const tempTextArea = $('<textarea>').val(code).appendTo('body');
            tempTextArea.select();
            document.execCommand('copy');
            tempTextArea.remove();

            showFeedbackMessage('Código Copiado!');
        }

        $(document).on('click', '.procedure_code', function () {
            copyText($(this).text().trim());
        });
    });

</script>
{% endblock %}
