{% extends 'base.html' %}
{%  load static %}

{% block title %}

Sem B.O

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/profile_style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
{% endblock %}

{% block content %}

<div class="content-profile">
    <div class="info_profile">
        <div class="details_profile">
            <div class="photo_profile">
                <img src="{% static 'assets/procedure.jpg' %}">
            </div>
            <div class="info_person">
                <h4>{{ request.user.first_name.title }} {{ request.user.last_name.title }}</h4>
                <h4>{{ request.user.email }} </h4>
            </div>
        </div>
    </div>
    
    <div class="profile w-full max-w-md md:max-w-xl md:px-0 px-4 mx-auto flex flex-col gap-4">
        <div class="mb-4">
            {% if messages %}
                <div class="messages mt-4 mb-2">
                    {% for message in messages %}
                        <p class="text-sm py-2 px-4 rounded-md 
                            {% if message.tags == 'error' %}
                                bg-red-200 text-red-800
                            {% elif message.tags == 'success' %}
                                bg-green-200 text-green-800
                            {% endif %}
                        ">
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% include "components/standard-button.html" with text="Edite seu Perfil" disabled=False onclick="toggleForm()" %}

            <div class="profile-form">
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.first_name.as_field_group }}
                    </div>
                    <div>
                        {{ form.last_name.as_field_group }}
                    </div>
                    <div>
                        {{ form.CPF.as_field_group }}
                    </div>
                    <div>
                        {{ form.telephone.as_field_group }}
                    </div>
                    <div>
                        {{ form.email.as_field_group }}
                    </div>
                    <div class="flex gap-2 my-2">
                        {% include "components/standard-button.html" with text="Voltar" extra_classes="w-1/2" disabled=False onclick="toggleForm()" %}
                        {% include "components/standard-button.html" with text="Confirmar" extra_classes="w-1/2" disabled=False onclick="toggleForm()" %}
                    </div>
                    <div class="flex gap-2 my-2">
                        <button type="button"
                           class="relative w-1/2 bg-[#0F0F0F] text-white py-2 px-4 rounded-lg transition my-2 disabled:opacity-70 disabled:cursor-not-allowed flex items-center justify-center gap-2">
                           <span>Anterior</span>
                           <div class="spinner hidden w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></div>
                        </button>
                        <button type="button" id="second-step"
                           class="relative w-1/2 bg-[#0F0F0F] text-white py-2 px-4 rounded-lg transition my-2 disabled:opacity-70 disabled:cursor-not-allowed flex items-center justify-center gap-2">
                           <span>Próximo</span>
                           <div class="spinner hidden w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></div>
                        </button>
                     </div>
                </form>
                
            </div>
            <!-- <div class="profile-tabs w-full px-4 py-2 focus:outline-none bg-gray-100">
                <h4>Minha assinatura</h4>
            </div> -->
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                {% include "components/standard-button.html" with text="Sair da conta" disabled=False %}
            </form>
        </div>    
    </div>
    
    {% include 'parciais/menu_inferior.html' %}   
</div>

<script>
    function toggleForm() {
        let form = document.querySelector('.profile-form');
        form.classList.toggle('visible');
    }
</script>

<script>
    $(document).ready(function(){
        $('#id_telephone').mask('(00) 00000-0000');
        $('#id_CPF').mask('000.000.000-00', {reverse: true});
    });
</script>

<script>
    flatpickr("#id_date_of_birth", {
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "d/m/Y",
        placeholder: "Data de nascimento",
        onChange: function(selectedDates, dateStr, instance) {
            instance.element.value = dateStr;
        }
    });
</script>

<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}