{% extends 'base.html' %}
{%  load static %}

{% block title %}

Sem B.O

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/profile_style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

{% endblock %}

{% block content %}

<div class="content-profile">
    <div class="info_profile">
        <div class="details_profile">
            <div class="photo_profile">
                <img src="{% static 'assets/procedure.jpg' %}">
            </div>
            <div class="info_person">
                <h4>{{ request.user.first_name.title }} {{ request.user.last_name.title }}</h4>
                <h4>{{ request.user.email }}</h4>
            </div>
        </div>
    </div>
    <div class="mx-[15rem]">
        <div class="mb-4">
            {% if messages %}
            <div class="messages mt-4 mb-2">
                {% for message in messages %}
                <script>
                    // Exibe o SweetAlert dependendo da tag da mensagem
                    Swal.fire({
                        text: '{{ message }}',
                        icon: '{% if message.tags == "error" %}error{% elif message.tags == "success" %}success{% endif %}',
                        confirmButtonText: 'OK',
                        customClass: {
                            confirmButton: 'bg-black text-white hover:bg-gray-900 px-4 py-2 rounded',
                            popup: 'rounded-xl',
                        },                    });
                </script>
                {% endfor %}
            </div>
        {% endif %}
        
            <div class="!flex gap-2">
                <button type="button" class="w-full bg-[#0F0F0F] text-white px-3 py-2 rounded-md flex justify-center" onclick="toggleForm()">
                    Editar seu Perfil
                </button>
                
                <form action="/logout/" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="9AMasRzt6MlYZx9Kvfth1MRZS4GaU1EdAnqY1XwZNup4sqeuuxrXeJdLyjGUhKEx">
                    <button type="submit" class="bg-[#0F0F0F] text-white px-3 py-2 rounded-md flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="white">
                            <path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h264v72H216Zm432-168-51-51 81-81H384v-72h294l-81-81 51-51 168 168-168 168Z"></path>
                        </svg> 
                        Sair
                    </button>
                </form>
            </div>
            
            <div class="profile-form">
                <form action="{% url 'profile' %}" class="!grid grid-cols-2 gap-4 my-4" method="post">
                    {% csrf_token %}
                    <div class="fields_edit">
                        <label for="id_first_name">Nome</label>
                        <input type="text" name="first_name" id="id_first_name" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Digite seu Nome" value="{{ request.user.first_name }}">
                    </div>
                
                    <div class="fields_edit">
                        <label for="id_last_name">Sobrenome</label>
                        <input type="text" name="last_name" id="id_last_name" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Digite seu Sobrenome" value="{{ request.user.last_name }}">
                    </div>
    
                    <div class="fields_edit">
                        <label for="id_CPF">CPF</label>
                        <input type="text" name="CPF" id="id_CPF" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="CPF" value="{{ request.user.CPF }}">
                    </div>
                    
                    <div class="fields_edit">
                        <label for="id_telephone">Telefone</label>
                        <input type="text" name="telephone" id="id_telephone" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Telefone" value="{{ request.user.telephone }}">
                    </div>
                    
                    <div class="fields_edit">
                        <label for="id_date_of_birth">Data de Nascimento</label>
                        <input type="date" name="date_of_birth" id="id_date_of_birth" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Data de nascimento" value="{{ request.user.date_of_birth }}">
                    </div>
                    
                    <div class="fields_edit">
                        <label for="id_occupational_registration">Registro Ocupacional</label>
                        <input type="text" name="occupational_registration" id="id_occupational_registration" class="block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 bg-[#F2F2F7] w-full" placeholder="Registro ocupacional" value="{{ request.user.occupational_registration }}">
                    </div>
                    
                    <div class="col-span-2">
                        <button type="submit" class="bg-[#0F0F0F] w-full text-white px-3 py-2 px-4 rounded-md flex justify-center">Confirmar alterações</button>
                    </div>                
                </form>
                
            </div>
            <!-- <div class="profile-tabs w-full px-4 py-2 focus:outline-none bg-gray-100">
                <h4>Minha assinatura</h4>
            </div> -->
        </div>    
    </div>
    
    {% include 'parciais/menu_inferior.html' %}   
</div>

<script>
    function toggleForm() {
        let form = document.querySelector('.profile-form');
        form.classList.toggle('visible');
    }
</script>

<script>
    $(document).ready(function(){
        $('#id_telephone').mask('(00) 00000-0000');
        $('#id_CPF').mask('000.000.000-00', {reverse: true});
    });
</script>

<script>
    flatpickr("#id_date_of_birth", {
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "d/m/Y",
        placeholder: "Data de nascimento",
        onChange: function(selectedDates, dateStr, instance) {
            instance.element.value = dateStr;
        }
    });
</script>

<script>
    $(".chosen-select").chosen();
</script>
{% endblock %}