{% extends 'base.html' %}
{%  load static %}

{% block title %}

Sem B.O

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'front/single_medical_record.css' %}">

{% endblock %}

{% block content %}

<section class="content-page">
    {% include 'parciais/menu.html' %}

    <div class="container-medical-record">
        {% if record.record_type == 'resumo_alta' %}
            <h1>Resumo de Alta</h1>
        {% endif %}
        <div class="buttons">
            <div class="w-full focus:outline-none bg-gray-100" id="viewRecordBtn">
                <h4><b>Visualizar</b> prontuário</h4>
            </div>

            <div class="w-full focus:outline-none bg-gray-100" id="downloadRecordBtn">
                <h4><b>Baixar</b> prontuário</h4>
            </div>

            <div class="w-full focus:outline-none bg-gray-100" id="sendEmailRecordBtn">
                <h4><b>Enviar</b> prontuário por E-mail</h4>
            </div>
        </div>
    </div>

    <div id="emailModal" class="modal hidden fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
        <div class="modal-content-folder bg-gray-100 w-11/12 md:w-2/3 lg:w-1/3 mx-auto rounded-lg p-6">
            <div class="sup-folder flex justify-between items-center mb-4">
                <h2 class="text-xl ml-2 title-modal-folders">Enviar PDF por E-mail</h2>
                <span class="close-form text-gray-600 cursor-pointer" onclick="closeModal()">&times;</span>
            </div>
            <form id="emailForm" method="post" action="{% url 'send_medical_record_email' record.id %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="recipient_email" class="block text-gray-700">Digite o e-mail do destinatário:</label>
                    <input type="email" id="recipient_email" name="recipient_email" required class="mt-1 p-2 w-full border rounded">
                </div>
                <button type="submit" class="w-full bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-700 transition">Enviar</button>
            </form>
        </div>
    </div>
    <div class="blur hidden"></div>
    

    {% include 'parciais/menu_inferior.html' %}

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#viewRecordBtn').click(function() {
            window.open("{% url 'view_medical_record' record.id %}", '_blank');
        });

        $('#downloadRecordBtn').click(function() {
            window.location.href = "{% url 'view_medical_record' record.id %}?download=true";
        });

        $('#sendEmailRecordBtn').click(function() {
            toggleModal();
        });

        function toggleModal() {
            $('#emailModal').toggleClass('hidden');
        }

        function closeModal() {
            $('#emailModal').addClass('hidden');
            $('.blur').addClass('hidden');
        }

        $('#emailForm').submit(function(e) {
            e.preventDefault();
            const url = $(this).attr('action');
            const email = $('#recipient_email').val();
            const csrfToken = '{{ csrf_token }}';

            $.ajax({
                url: url,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    recipient_email: email
                },
                success: function(data) {
                    alert('E-mail enviado com sucesso!');
                    toggleModal();
                },
                error: function(error) {
                    console.error('Erro ao enviar e-mail:', error);
                    alert('Falha ao enviar o e-mail.');
                }
            });
        });
    });
</script>
{% endblock %}