{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
Sem B.O
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'front/login_style.css' %}">
{% endblock %}

{% block content %}
    <div class="loading-overlay" id="loadingOverlaySmart">
        <div class="loading-content">
            <div class="loading-spinner"></div>
            <p>Processando...</p>
        </div>
    </div>

    <section class="m-0 h-screen text-black bg-white box-border grid grid-rows-[1fr_2fr_1fr] justify-items-center">
        <div></div>
        <div class="flex flex-col gap-8 md:gap-4 sm:w-full md:w-1/2 p-4 rounded items-center justify-center">
            <div class="w-full md:w-2/3 lg:w-1/2 sm:w-full flex justify-center items-center">
                <img src="{% static 'assets/logo.png' %}" alt="Logo" class="w-3/4 md:w-full">
            </div>

            <div class="w-full flex flex-col gap-2">
                <h2 class="text-left text-[1.5rem] hidden md:block">Redefina <b>sua senha</b></h2>

                {% include 'parciais/messages.html' %}

                <form action="{% url 'password_reset_confirm' uidb64 token %}" method="post" class="flex flex-col gap-4">
                    {% csrf_token %}
                    <div>
                        <div class="relative">
                            {{ form.new_password }}
                            <span class="material-symbols-outlined toggle-password absolute inset-y-0 right-3 flex items-center cursor-pointer text-[#9CA4B1] text-[1.2rem]">
                                visibility
                            </span>
                        </div>
                        <div class="password-requirements" style="display: none;">
                            <p class="text-sm py-1 px-4 mb-2 mt-2 rounded bg-blue-100 text-blue-800">Sua senha precisa ter pelo menos 8 caracteres, sendo números e letras. ela não deve ser muito semelhante ao seu nome.</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <div class="relative">
                            {{ form.confirm_new_password }}
                            <span toggle="#id_password2" class="material-symbols-outlined toggle-password absolute inset-y-0 right-3 flex items-center cursor-pointer text-[#9CA4B1] text-[1.2rem]">
                                visibility
                            </span>
                        </div>
                        <div id="password2-error" class="text-sm py-1 px-4 mt-2 rounded bg-red-200 text-red-800" style="display: none;"></div>
                    </div>
        
                    <button id="save-button" type="submit" class="bg-[#0F0F0F] text-white w-full py-2 px-4 rounded-md">Redefinir Senha</button>
                </form>
            </div>
        </div>
        
        <div class="footer mt-12">
            <div class="register flex justify-center">
                <p>Já tem uma conta? <a href="{% url 'login' %}" class="text-blue-500">Faça login</a></p>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $('#loadingOverlaySmart').hide();

            $('#save-button').on('click', function () {
                $('#loadingOverlaySmart').show();
            });
            
            const passwordRequirements = $('#password1-requirements');
            const newPassword = $('#id_new_password');
            const confirmNewPassword = $('#id_confirm_new_password');
            const password2Error = $('#password2-error');

            newPassword.on('focus', function () {
                passwordRequirements.stop(true, true).fadeIn();
            });

            newPassword.on('blur', function () {
                passwordRequirements.stop(true, true).fadeOut();
            });

            confirmNewPassword.on('input', function () {
                const password1 = newPassword.val();
                const password2 = $(this).val();

                if (password1 !== password2) {
                    password2Error.text('As senhas não correspondem.').fadeIn();
                } else {
                    password2Error.fadeOut();
                }
            });
        });
    </script>
{% endblock %}