{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <link rel="stylesheet" href="{% static 'front/login_style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="items-center h-screen ">

    <div class="loading-overlay" id="loadingOverlaySmart">
        <div class="loading-content">
            <div class="loading-spinner"></div>
            <p>Processando...</p>
        </div>
    </div>

    <div class="logo flex justify-center">
        <a href="{% url 'home' %}">
            <img src="{% static 'assets/logo.png' %}">
        </a>
    </div>
    
    <div class="login p-4 rounded">
        <h2 class="mb-2 text-left">Redefina sua Senha</h2>

        {% if messages %}
            <div class="messages mt-4 mb-2">
                {% for message in messages %}
                    <p class="text-sm mb-2 py-2 px-4 rounded-md 
                        {% if message.tags == 'error' %}
                            bg-red-200 text-red-800
                        {% elif message.tags == 'success' %}
                            bg-green-200 text-green-800
                        {% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <form action="{% url 'password_reset_confirm' uidb64 token %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <input type="password" name="new_password1" id="new_password1" class="w-full px-4 py-2 rounded-md focus:outline-none" placeholder="Nova senha">
                <div id="password1-requirements" class="password-requirements" style="display: none;">
                    <p class="text-sm py-1 px-4 mb-2 mt-2 rounded bg-blue-100 text-blue-800">Sua senha precisa ter pelo menos 8 caracteres, sendo números e letras. ela não deve ser muito semelhante ao seu nome.</p>
                </div>
            </div>

            <div class="mb-4">
                <input type="password" name="new_password2" id="new_password2" class="w-full px-4 py-2 rounded-md focus:outline-none" placeholder="Confirme a nova senha">
                <div id="password2-error" class="ml-2 mt-1 text-sm text-red-600" style="display: none;"></div>
            </div>

            <button id="save-button" type="submit" class="button_login w-full py-2 px-4 rounded-md">Enviar Link de Redefinição</button>
        </form>
    </div>

    <div class="footer mt-12">
        <div class="register flex justify-center">
            <p>Já tem uma conta? <a href="{% url 'login' %}" class="text-blue-500">Faça login</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#loadingOverlaySmart').hide();

            $(document).ready(function () {
                $('#save-button').on('click', function () {
                    $('#loadingOverlaySmart').show();
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#new_password1').on('focus', function() {
                $('#password1-requirements').fadeIn();
            });

            $('#new_password1').on('focusout', function() {
                $('#password1-requirements').fadeOut();
            });

            $('#new_password2').on('keyup', function () {
                let password1 = $('#new_password1').val();
                let password2 = $(this).val();
                let field_password1 = $('#new_password1');
                let field_password2 = $('#new_password2');
                let password2Error = $('#password2-error');

                if (password1 != password2) {
                    password2Error.text('As senhas não correspondem.').fadeIn();
                }

                if (password2.length < 8) {
                    password2Error.text('A senha precisa ter pelo menos 8 caracteres.').fadeIn();
                } else if (/^\d+$/.test(password2)) {
                    password2Error.text('A senha não pode ser inteiramente numérica.').fadeIn();
                } else {
                    password2Error.hide();
                }
            });
        });
    </script>
</body>
</html>
