{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
Sem B.O
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'front/login_style.css' %}">
{% endblock %}

{% block content %}
    <section class="m-0 h-screen text-black bg-white box-border grid grid-rows-[1fr_2fr_1fr] justify-items-center">
        <div></div>
        <div class="flex flex-col gap-8 md:gap-6 sm:w-full md:w-1/2 p-4 rounded items-center justify-center">
            <div class="w-full md:w-2/3 lg:w-1/2 sm:w-full flex justify-center items-center">
                <img src="{% static 'assets/logo.png' %}" alt="Logo" class="w-3/4 md:w-full">
            </div>
            <div class="w-full flex flex-col gap-2">
                <h2 class="text-left text-[1.5rem] md:text-[1.5rem] hidden md:block">Redefina <b>sua Senha</b></h2>

                {% include 'parciais/messages.html' %}

                <form action="{% url 'password_reset' %}" method="post" class="flex flex-col gap-4">
                    {% csrf_token %}
                    <div>
                        {{ form.email }}        
                    </div>
                    <button id="save-button" class="bg-[#0F0F0F] text-white w-full py-2 px-4 rounded-md">Enviar Link de Redefinição</button>
                </form>
            </div>
        </div>

        <div class="footer mt-12">
            <div class="register flex justify-center">
                <p>Já tem uma conta? <a href="{% url 'login' %}" class="text-blue-500">Faça login</a></p>
            </div>
        </div>
    </section>
{% endblock %}