body {
    font-family: 'Poppins', sans-serif;
}

.content-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.menu-top {
    margin-bottom: 1.5rem;
}

.menu-top a {
    display: flex;
    align-items: center;
}

.menu-top a img {
    width: 10rem;
}

.buttons {
    width: 65%;
}

.buttons div {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    transition: 0.3s;
    justify-content: center;
}

.buttons div:hover {
    background-color: rgb(71, 71, 71);
    color: white;
    transition: 0.3s;
}

.container-medical-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.container-medical-record h1 {
    font-size: 2.5rem;
    font-weight: 1000;
}

#specificForm {
    overflow: scroll;
    overflow-x: hidden;
}

.select2-search {
    width: 100% !important;
}

.modal-content-form {
    background-color: #FFFFFF;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.tabs_form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #7d838b;
    margin-bottom: 0.3rem;
}

#formFields div input {
    background-color: #F2F2F7;
    width: 100% !important;
}

#formFields div textarea {
    background-color: #F2F2F7;
}

#formFields div label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #9CA4B1;
}

.filter-results {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #F2F2F7;
    background-image: none;
    flex: 1;
    color: #3d3e3f;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: right 1em top 50%;
    cursor:pointer;
    font-size: 1em;
    font-weight: normal;
}

.filter-results::-ms-expand {
    display: none;
    cursor: pointer;
}

.filter-results::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.close-form {
    font-size: 1.5rem;
}

.close-specific-form {
    font-size: 1.5rem;
}

#formModal {
    cursor: pointer;
}

.title_logo {
    width: 10rem;
    margin-top: 0.5rem;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--multiple, .select2-container .select2-selection--single {
    outline: none;
    border: 0 !important;
    padding: 0.5rem !important;
    border-radius: 0.375rem !important;
    background: #F2F2F7 !important;
}

.select2-container .select2-selection--multiple {
    padding: 0.2rem 0 0 0.4rem !important;
}

.select2-container .select2-selection__rendered {
    color: #9CA4B1 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem !important;
    padding-left: 0.5rem !important;
}

.select2-container .select2-selection__choice {
    color: #9CA4B1 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem !important;
    padding-left: 0.5rem !important;
    background: #F2F2F7 !important;
    border-radius: 0.375rem !important;
}

.select2-container .select2-selection--single {
    height: 2.7rem !important;
}

.select2-container .select2-search--inline .select2-search__field {
    color: #9CA4B1 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem !important;
    padding-left: 0.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    width: auto;
    font-size: 0.85rem !important;
}


::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: rgb(224, 224, 224);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .menu-top {
        position: fixed;
        top: 0.5rem;
    }

    .content-page {
        justify-content: center;
    }

    .container-medical-record {
        text-align: center;
    }

    .buttons {
        width: 90%;
    }

    .container-medical-record h1 {
        font-size: 1.8rem;
    }
}