
.login h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.reset_password {
    justify-content: right;
}

.date-picker-container {
    position: relative;
}

.date-picker-container .flatpickr-calendar {
    font-size: 14px;
}

.date-picker-container .flatpickr-calendar .flatpickr-calendarIcon {
    position: absolute;
    right: 10px;
    bottom: 14px;
}

.eye-icon {
    color: #9CA4B1;
    font-size: 1.2rem !important;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.loading-content p {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.loading-spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
    margin-left: 45px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.status-password1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:  7%;
    font-size: 1.4rem;
    top: 42.1%;
    margin-right: 0.2rem;
}

.status-password2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
    font-size: 1.4rem;
    top: 47.8%;
    margin-right: 0.2rem;
}

.check-true {
    color: rgb(11, 68, 11);
}

.check-false {
    color: rgb(116, 11, 11);
}

.chosen-single span {
    color: #141414;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 0.2rem;
}

.form-label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #9CA4B1;
}


@media (max-width: 800px) {
    .logo {
        width: 65%;
    }

    .login {
        width: 90%;
        gap: 1.2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1100px) {
    .logo {
        width: 40%;
        position: relative;
        top: 5rem;
    }
}

@media (min-width: 688px) and (max-width: 1023px) {
    .logo {
        width: 60%;
        position: relative;
        top: 5rem;
    }
}

@media (max-width: 687px) {
    .status-password1 {
        right: 11%;
        top: 41.4%;
    }
    
    .status-password2 {
        right: 11%;
        top: 47.6%;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .status-password1 {
        right: 11%;
        top: 40.7%;
    }
    
    .status-password2 {
        right: 11%;
        top: 48.3%;
    }
}

@media (min-width: 1024px) and (max-width: 1100px) {
    .status-password1 {
        right: 8%;
        top: 38%;
    }
    
    .status-password2 {
        right: 8%;
        top: 45.1%;
    }
}

@media (min-width: 688px) and (max-width: 1023px) {
    .status-password1 {
        right: 8%;
        top: 42.5%;
    }
    
    .status-password2 {
        right: 8%;
        top: 48%;
    }
}

@media (min-width: 387px) and (max-width: 393px) {
    .status-password1 {
        right: 11%;
        top: 38.4%;
    }
    
    .status-password2 {
        right: 11%;
        top: 45.5%;
    }
}

@media (min-width: 375px) and (max-width: 385px) {
    .status-password1 {
        right: 11%;
        top: 39%;
    }
    
    .status-password2 {
        right: 11%;
        top: 45.8%;
    }
}

@media (min-width: 394px) and (max-width: 412px) {
    .status-password1 {
        right: 11%;
        top: 40.8%;
    }
    
    .status-password2 {
        right: 11%;
        top: 47.5%;
    }
}