
.menu-top {
    margin-bottom: 1.5rem;
}

.menu-top a {
    display: flex;
    align-items: center;
}

.menu-top a img {
    width: 10rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.content-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.container-medical-record h1 {
    font-size: 2.5rem !important; 
    font-weight: 1000 !important;
}

.container-medical-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.buttons {
    width: 65%;
    display: flex;
    gap: 1rem;
}

.buttons div {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    transition: 0.3s;
    justify-content: center;
}

.buttons div:hover {
    background-color: rgb(71, 71, 71);
    color: white;
    transition: 0.3s;
}

.title_medical_record {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_medical_record h1 {
    font-size: 3.5rem !important;
}

.title_medical_record h5 {
    margin-top: -0.5rem;
}

@media (max-width: 896px) {
    .menu-top {
        position: fixed;
        top: 0.5rem;
    }

    .content-page {
        justify-content: none;
    }

    .container-medical-record {
        text-align: center;
        position: absolute;
        top: 30%;
    }

    .buttons {
        width: 90%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .container-medical-record h1 {
        font-size: 1.8rem;
    }
}