<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEM B.O</title>
</head>
<body>
    <tbody>
        <tr>
            <td style="border:0;margin:0;padding:0">
                <table style="width:100%;margin:0;padding:0;border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td style="border:0;margin:0;padding:16px;color:#414552;font-family:sans-serif;font-weight:400;font-size:16px;line-height:24px;">
                                Olá {{ user }}, prossiga para redefinir sua senha Sem BO. <b>Clique no botão abaixo!</b>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table style="width:100%;margin:0;padding:0;border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td style="border:0;margin:0;padding:16px;color:#414552;font-family:sans-serif;font-weight:400;font-size:16px;line-height:24px;">
                                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"  target="_blank" style="display:inline-block;padding:10px 20px;background-color:#3182ce;color:#ffffff;font-weight:bold;text-decoration:none;border-radius:4px;">Redefinir Senha</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="background-color:#f7fafc;width:100%;margin:0;padding:0;">
                    <table style="width:100%;margin:0;padding:0;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <td style="border:0;margin:0;height:40px;font-size:1px;line-height:1px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table style="width:100%;margin:0;padding:0;border-collapse:collapse;background-color:#edf2f7;">
                    <tbody>
                        <tr>
                            <td style="border:0;margin:0;padding:16px;color:#687385;font-family:sans-serif;font-size:12px;line-height:20px;text-align:center;">
                                Sem B.O 2024
                            </td>
                        </tr>
                        <tr>
                            <td style="border:0;margin:0;padding:1px;font-size:1px;line-height:1px;"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</body>
</html>
